<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/TemplateVariable/1.0"
            class="org.palladiosimulator.envdyn.environment.templatevariable.TemplatevariablePackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/StaticModel/1.0"
            class="org.palladiosimulator.envdyn.environment.staticmodel.StaticmodelPackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/DynamicModel/1.0"
            class="org.palladiosimulator.envdyn.environment.dynamicmodel.DynamicmodelPackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

</plugin>
