<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/Template/1.0"
            class="org.palladiosimulator.envdyn.environment.template.TemplatePackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/Model/1.0"
            class="org.palladiosimulator.envdyn.environment.model.ModelPackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated environmentaldynamics -->
      <package
            uri="http://palladiosimulator.org/Environment/Dynamics/1.0"
            class="org.palladiosimulator.envdyn.environment.dynamics.DynamicsPackage"
            genModel="model/environmentaldynamics.genmodel"/>
   </extension>

</plugin>
